button {
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff0000;
}

button:active {
  background-color: #00ff00;
}

.inverse {
  background-color: #ffc107;
  border-color: #000;
  color: #fff;
}

.inverse:hover {
  background-color: #fff;
  border-color: #000;
  color: #ffc107;
}

.inverse:active {
  background-color: #ffc107;
  color: #fff;
  box-shadow: none;
}

.main-page-btn {
  margin: 2rem 0;
  padding: 2rem;
  border: 2px solid #0400ff ;
}