.row {
  display: flex;
  justify-content: space-between;
}

.column {
  display: inherit;
  border: 1px solid #000;
  width: 33.33333333%;
  height: 100vh;
  background-color: #000;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff0000;
}

button:active {
  background-color: #00ff00;
}